ul#galleryArea {

}

ul#galleryArea li {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	float: left;
}

.typography ul#galleryArea li img {
	padding-right: 5px;
	border: none;
}

/*
#GalleryPopup .PopupClose
{
	background-color: #840000;
	border-radius: 3px;
	color: #fff;
	display: block;
	moz-border-radius: 3px;
	padding: 4px;
	position: absolute;
	right: 3px;
	text-align: center;
	top: 3px;
	webkit-border-radius: 3px;
}
#GalleryPopup .PopupClose:hover
{
	cursor: pointer;
}
#GalleryPopup
{
	background: #fff;
	border-radius: 5px;
	left: 50%;
	margin-left: -400px;
	moz-border-radius: 5px;
	overflow: auto;
	padding: 10px;
	position: fixed;
	top: 50px;
	webkit-border-radius: 5px;
	z-index: 1001;
}
* html #GalleryPopup
{
	position: absolute;
}
*/
